<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034453032226-q7rq2v5ouvjgahfn0t5rmgrs8gssrigb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034453032226-q7rq2v5ouvjgahfn0t5rmgrs8gssrigb</string>
	<key>API_KEY</key>
	<string>AIzaSyCgvwqBFaoZ2n5dI2U33q2M8-0IiPJD8T0</string>
	<key>GCM_SENDER_ID</key>
	<string>1034453032226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bancoAmigo</string>
	<key>PROJECT_ID</key>
	<string>banco-amigo-5d2aa</string>
	<key>STORAGE_BUCKET</key>
	<string>banco-amigo-5d2aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034453032226:ios:7c8332eded28e9f2e9197b</string>
</dict>
</plist>